<h1> Cart </h2>
<% @product_map.each do |product, count| %>
  <%= product.name %> : <%= count %>
  <br>
  <button type="button" class="removeitem" id=<%=product.id%> > Remove item</button>
  <br>
</div>
  <br>
  <% end %>

<br>
<br>
<% @vouchers.each do |voucher| %>
<%= voucher.name %>
<br>
<%end %>

<div id="finalBill"> bill:<%= @bill_without_voucher %> </div>
