<h1>
    Cart
</h2>
<% @product_map.each do |product, count| %>
<%= product.name %>: <%= count %>
<div id="productCategory"><% product.category %></div>
<br>
<form method="GET" action="/delete/<%=product.id%>">
<input type="submit" name="remove" value="Remove item" class="removeitem" id=<%=product.id%>>
</form>
<br>
</div>
<br>
<% end %>

<br>
<br>
<% @vouchers.each do |voucher| %>
<form method="post", action='/voucher'>
<input type=checkbox class="voucherCheckbox" id=voucher_<%=voucher.id%>>
<%= label_tag(voucher.id, voucher.name) %>
<br>
<%end %>
</form>
<br>
<br>
bill without voucher applied: <div id="finalBill"><%=@bill_without_voucher %></div>

bill with voucher: <div id="finalbillwithvoucher"><%=@bill_without_voucher %></div>
