<div class="panel panel-default">
    <div class="panel-body">
        <a href="/carts">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div id="increment-cart">
            <%=get_cart_size%>
        </div>
    </div>
    <div class="shopname">The Retail Shop</div>
    <div class="linktocart">
        <a href="/carts">See your cart</a>
    </div>
</div>
<div class="container">
    <% @products.each do |product| %>
        <div class="col-sm-4" class="container">
            <%= image_tag(product.image, alt: "Image not available", size: "110x125") %>
            <br>
            <%= product.name %>
            <br>
            <%= product.category %>
            <br>
            £<%= product.price %>
            <br>
            <span id="productQuantity_<%= product.id %>">
                <%= product.quantity - product_count_in_cart(product)%>
            </span>
            in stock
            <br>
            <% if product.quantity == product_count_in_cart(product)%>
                <button type="button" class="product_buttons btn btn-success" id=<%=product.id%> disabled>
            <%else %>
                <button type="button" class="product_buttons btn btn-success" id=<%=product.id%> enabled>
            <%end%>
            Add to cart</button>
        </div>
    <% end %>
</div>
