<div class="panel panel-default">
    <div class="panel-body">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <div id="increment-cart">
            <%=@cart_size%>
        </div>
    </div>
    <div class="shopname">The Retail Shop</div>
    <div class="linktocart">
        <a href="/carts">See your cart</a>
    </div>
</div>
</div>
<% @products.each do |product| %>
<div class="col-sm-4">
<%= image_tag(product.image, alt: "Image not available", size: "100x100") %>
<br>
<%= product.name %>
ID:<%= product.id %>
<br>
<%= product.category %>
<br>
£<%= product.price %>
<br>
<div id="productQuantity_<%= product.id %>">
    <%= product.quantity - @product_map[product]%>
</div>
in stock
<br>
<% if product.quantity == @product_map[product]%>
<button type="button" class="product_buttons btn btn-success" id=<%=product.id%> disabled>
  <%else %>
<button type="button" class="product_buttons btn btn-success" id=<%=product.id%> enabled>
<%end%>
    Add to cart <span class="glyphicon glyphicon-play"></span></button>
</div>

<% end %>
