Item in cart: <div id="increment-cart"> </div>
<div id="cartCount"> items in cart: 0 </p>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <% @products.each do |product| %>
            <%= image_tag(product.image, alt: "Image not available", class: "product-image") %>
            <br>
            <%= product.name %>
            <br>
            <%= product.category %>
            <br>
            £<%= product.price %>
            <br>
            <%= product.quantity %> in stock
            <br>
            <a href="/carts/<%= product.id %>"> Add to cart </a>
            <% end %>
        </div>
    </div>
</div>
